body{
    margin: 0%;
    padding: 0%;
    background: white ;
    font-family: Arial;
    backface-visibility: hidden;
}

.navbar ul{
    list-style: none;
    background: lightblue;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    text-align: right;
    
}
.navbar li {
    display: inline;
    

}
.navbar a{
    text-decoration: none;
    color: white;
    max-width: 200px;
    padding: 50px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial;
    text-align: right;     
}
.navbar a:hover{
 background: rebeccapurple;
 max-width: auto;
 padding: auto;
 
}
@media all {
.navbar li {

}
}
.me a:hover{
    background-color: blueviolet;
}
.me h1{
    color:black;
    margin-left: 30%;
    font-family: Arial;
    color: wheat;
}
.me h2{
    color:black;
    margin-left: 30%;
    font-family: Arial;
    color: wheat;
}
.me p{
    margin-left: 20%;
    margin-right: 20%;
}
.container1 img{
    margin-left: 80%;
    border-radius:50%;
    width: 300px;
    height: 300px;
}
